.vscode
*.pyc
*~
.DS_Store
.eggs/
dist
build
.idea
cover/
.tox/
.cache/
.coverage
coverage.xml
.benchmark

# data for resources
*.zip
data

# downloaded resources
brendapy/resources/data
src/brendapy.egg-info/
