include requirements.txt
include README.md
include README.rst


include brendapy/resources/README.md
include brendapy/resources/brenda_download_2019-07-29.zip
# recursive-include brendapy/resources *
