include requirements.txt
include requirements-develop.txt
include README.md
include README.rst

include brendapy/resources/brenda.txt.zip
include brendapy/resources/brenda_readme.txt
include brendapy/resources/bto.json.zip
include brendapy/resources/chebi.json.zip
include brendapy/resources/taxdmp.zip
include brendapy/resources/taxdmp_readme.txt

